<mat-card appearance="outlined">
  <mat-card-header class="flex flex-row justify-between items-center">
    <mat-card-title>
      <div ellipsisTooltip matTooltip>{{ task().title }}</div>
    </mat-card-title>
    <div
      [class]="
        'whitespace-nowrap ' +
        (task().dueDate < today ? 'text-error, dark:text-error-dark' : 'text-success, dark:text-success-dark')
      ">
      Due date: <time>{{ task().dueDate | date: 'shortDate' }}</time>
    </div>
  </mat-card-header>
  <mat-card-content>
    {{ task().summary }}
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button class="primary" class="ms-2" (click)="complete.emit()">Complete</button>
    <button mat-flat-button class="secondary" class="ms-2" (click)="edit.emit()">Edit</button>
    <button mat-flat-button color="warn" class="ms-2" (click)="delete.emit()">Delete</button>
  </mat-card-actions>
</mat-card>
