@use '@angular/material' as mat;
@use './m3-theme';

// Import CDK overlay styles
@import '@angular/cdk/overlay-prebuilt.css';

@include mat.core();

$base-theme: mat.define-theme((
  typography: (
    brand-family: #{"Roboto, sans-serif"},
    plain-family: #{"Roboto, sans-serif"},
    bold-weight: 300,
    medium-weight: 200,
    regular-weight: 100,
  ),
  density: (
    scale: 0
  ),
));

html {
  $colors: primary, secondary, tertiary, error;

  // Apply the dark theme by default
  @include mat.all-component-themes(m3-theme.$dark-theme);
  @include mat.all-component-typographies($base-theme);
  @include mat.all-component-densities($base-theme);
  @include mat.color-variants-backwards-compatibility(m3-theme.$dark-theme);
  @include mat.typography-hierarchy($base-theme);

  // Apply the light theme only when the user prefers light themes.
  @media (prefers-color-scheme: light) {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.
    &:not([dark-theme]) {
      @include mat.all-component-colors(m3-theme.$light-theme);
      @include mat.color-variants-backwards-compatibility(m3-theme.$light-theme);
    }
  }

  @import './components';
}
