<mat-toolbar class="flex flex-row justify-between" color="primary">
  <div class="flex flex-row items-center">
    @if (showMenu()) {
      <button mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
    }
    <span>Angular 18</span>
  </div>
  <div class="flex flex-row items-center overflow-hidden">
    <span class="mat-body-large me-2">Mode:</span>
    <mat-slide-toggle #darkToggle color="primary" [checked]="isDarkTheme$ | async" (change)="toggleDark($event.checked)"></mat-slide-toggle>
  </div>
</mat-toolbar>
