@if (!(successEmail$ | async)) {
<mat-card appearance="outlined" [style.maxWidth.px]="500" class="m-auto">
  <mat-card-header>
    <mat-card-title class="mb-3">Authentication form</mat-card-title>
  </mat-card-header>
  <mat-card-content class="flex flex-col">
    <form class="flex flex-col" (ngSubmit)="onSubmit()" [formGroup]="form" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
      <mat-form-field appearance="outline" class="mb-2">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" cdkFocusInitial>
        @if (form.controls.email.hasError('required')) {
        <mat-error>Required</mat-error>
        }
        @if (form.controls.email.hasError('email')) {
        <mat-error>Email formal</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="mb-2">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        @if (form.controls.password.hasError('required')) {
        <mat-error>Required</mat-error>
        }
        @if (form.controls.password.hasError('minlength')) {
        <mat-error>Min length is 4</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="mb-2">
        <mat-label>Repeat password</mat-label>
        <input matInput type="password" formControlName="repeatPassword">
        @if (form.controls.repeatPassword.hasError('required')) {
        <mat-error>Required</mat-error>
        }
        @if (form.controls.repeatPassword.hasError('passwordMismatch')) {
        <mat-error>Password doesn't match</mat-error>
        }
      </mat-form-field>
      <button mat-flat-button type="submit" [disabled]="form.disabled">Login</button>
    </form>
  </mat-card-content>
</mat-card>
} @else {
<mat-card appearance="outlined" [style.maxWidth.px]="500" class="m-auto bg-success/30 dark:bg-success/30">
  <mat-card-header>
    <mat-card-title class="mb-3">Congratulation!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Your user with email <b>{{ successEmail$ | async }}</b> has been registered successfully;</p>
    <a routerLink="/login" queryParamsHandling="merge" class="opacity-75 hover:opacity-100">Go to login</a>
  </mat-card-content>
</mat-card>
}
