<app-header (toggleSidenav)="sidenav.toggle()" [showMenu]="mobileQuery.matches" [isDarkTheme]="isDarkTheme" />
<mat-sidenav-container class="flex-1">
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56" [opened]="!mobileQuery.matches">
    <div class="h-full p-4" [class.border-r]="!mobileQuery.matches">sidenav</div>
  </mat-sidenav>

  <mat-sidenav-content class="p-4">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
