<app-header (toggleSidenav)="sidenav.toggle()" [isMobile]="mobileMediaQuery.matches" [isDarkTheme]="darkMediaQuery.matches" />
<mat-sidenav-container class="flex-1">
  <mat-sidenav #sidenav [mode]="mobileMediaQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileMediaQuery.matches"
    fixedTopGap="56" [opened]="!mobileMediaQuery.matches" class="p-4">
    <app-sidenav />
  </mat-sidenav>
  <mat-sidenav-content class="p-4">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
