<h1 class="mat-headline-large">{{ title() }}</h1>
<mat-card appearance="outlined">
  @if(user(); as user) {
  <mat-card-header class="flex flex-row justify-between items-center mb-3">
    <mat-card-title>
      <div ellipsisTooltip matTooltip>{{ user.name }}'s Tasks</div>
    </mat-card-title>
    <div class="text-nowrap">
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="small-4 me-2">
        <mat-label>Filter by:</mat-label>
        <!-- Use signals in ngModel -->
        <mat-select [(ngModel)]="filter">
          <mat-option value="all">All</mat-option>
          <mat-option value="open">Open</mat-option>
          <mat-option value="in progress">In progress</mat-option>
          <mat-option value="done">Done</mat-option>
        </mat-select>
      </mat-form-field>
      <div matTooltip="Only available for admins" [matTooltipDisabled]="authStore.user()?.permission === 'admin'"
        class="inline-block">
        <button mat-stroked-button (click)="openAddTaskDialog()" class="whitespace-nowrap"
          [disabled]="authStore.user()?.permission !== 'admin'">Add Task</button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="flex flex-row justify-between items-center mb-2">
      <p class="!mb-0">Only the creator user can edit or delete the task created by them</p>
      @if(order() === 'asc') {
        <a mat-button routerLink="./" [queryParams]="{order: 'des'}">Sort <mat-icon iconPositionEnd>arrow_upward</mat-icon></a>
      } @else {
        <a mat-button routerLink="./" [queryParams]="{order: 'asc'}">Sort <mat-icon iconPositionEnd>arrow_downward</mat-icon></a>
      }
    </div>
    @for (task of tasks(); track task._id) {
    <section class="mb-3">
      <app-task [task]="task" (taskChange)="editTaskStatus($event)" (edit)="openAddTaskDialog(task)"
        (delete)="deleteTask(task)" />
    </section>
    } @empty {
    <i>No task assigned for this user</i>
    }
  </mat-card-content>
  } @else {
  <router-outlet></router-outlet>
  }
</mat-card>
