<div mat-dialog-title class="flex flex-row">
  <div [innerHTML]="data?.title" class="flex-auto content-center"></div>
  <button mat-icon-button [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  @if (data?.content; as content) {
    <p [innerHTML]="content"></p>
  }
  <ng-container
    *ngComponentOutlet="data?.component; inputs: data?.componentInputs"
  />
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-flat-button
    cdkFocusInitial
    [color]="data?.btnColor"
    (click)="onSubmit()"
  >
    {{ data?.btnText || "Confirm" }}
  </button>
  <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
</mat-dialog-actions>
