<form (ngSubmit)="onSubmit()" #form="ngForm" class="flex flex-col">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput type="text" name="title" ngModel required [disabled]="inProgress()" />
    <mat-error>Required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Request</mat-label>
    <textarea matInput type="text" name="request" ngModel required [disabled]="inProgress()"></textarea>
    <mat-error>Required</mat-error>
  </mat-form-field>
  <div>
    @if(!imagePreview) {
    <button mat-button type="button" (click)="filePicker.click()">Add image</button>
    } @else {
    <img [src]="imagePreview" alt="image preview">
    <button mat-button type="button" color="warn" (click)="onResetImage(image)">Remove image</button>
    }
    <input type="file" accept="image/png, image/gif, image/jpeg" ngModel class="invisible"
    (change)="onImagePicked($event)" #filePicker #image="ngModel">
  </div>
  <div>
    <button mat-stroked-button type="submit" class="me-2" saveChanges
      [saveChangesDisabled]="!!form.invalid || !(isFormUpdated$ | async) || !ticket()" [disabled]="inProgress()">
      @if (ticket()) {
      Save
      } @else {
      Create
      }
    </button>
    <button mat-stroked-button type="button" color="warn" discardChanges
      [discardChangesDisabled]="!(isFormUpdated$ | async)" (click)="cancel.emit()"
      [disabled]="inProgress()">Cancel</button>
  </div>
</form>
