<mat-card appearance="outlined" class="mb-4">
  <mat-card-content>
    <form [formGroup]="form" class="flex flex-col" (ngSubmit)="onSubmit()">
      <div class="flex flex-row gap-4">
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label>Initial investment</mat-label>
          <input matInput type="number" formControlName="initialInvestment" />
          <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label>Annual investment</mat-label>
          <input matInput type="number" formControlName="annualInvestment" />
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-row gap-4">
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label>Expected return</mat-label>
          <input matInput type="number" formControlName="expectedReturn" />
          <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label>Duration</mat-label>
          <input matInput type="number" formControlName="duration" />
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button type="submit">Calculate</button>
    </form>
  </mat-card-content>
</mat-card>

@if (dataSource().length) {
  <div class="flex flex-row gap-4">
    <app-currency-dropdown
      [currencies]="currencies"
      [(currency)]="currency"
    ></app-currency-dropdown>
    <app-investment-table
      [currency]="currency"
      [currencyValue]="currencyMap[currency]"
      [dataSource]="dataSource()"
    />
  </div>
} @else {
  <p class="text-center">Please enter some values and press "Calculate".</p>
}
