<mat-sidenav-container class="flex-1">
  <mat-sidenav #sidenav [mode]="isMobile() ? 'over' : 'side'" [fixedInViewport]="isMobile()"
    fixedTopGap="56" [opened]="!isMobile()" class="py-4 pr-4">
    <nav class="flex flex-col gap-2">
      @for (user of users; track user._id) {
      <app-user [user]="user" />
      }
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <header class="flex flex-row">
      @if (isMobile()) {
        <button mat-icon-button (click)="sidenav.toggle()" class="mr-1">
          <mat-icon>menu</mat-icon>
        </button>
        }
      <h1 class="mat-headline-large">{{ title() }}</h1>
      <app-info text="Title is injected as InputSignal via route.data and withComponentInputBinding"/>
    </header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
