<mat-card appearance="outlined">
  <mat-card-header class="flex flex-row justify-between items-center">
    <mat-card-title>
      <div ellipsisTooltip matTooltip>{{ task().title }}</div>
    </mat-card-title>
    <div [class]="
        'whitespace-nowrap ' +
        (task().dueDate < today ? 'text-error dark:!text-error-dark' : 'text-success dark:!text-success-dark')
      ">
      Due date: <time>{{ task().dueDate | date: 'shortDate' }}</time>
    </div>
  </mat-card-header>
  <mat-card-content>
    {{ task().summary }}
  </mat-card-content>
  <mat-card-actions align="end">
    <div matTooltip="Only available for logged users" [matTooltipDisabled]="authStore.permission() === 'user'">
      <button mat-flat-button class="primary" class="ms-2" (click)="complete.emit()"
        [disabled]="authStore.permission() !== 'user'">Complete</button>
    </div>
    <div matTooltip="Only available for admins" [matTooltipDisabled]="authStore.permission() === 'admin'">
      <button mat-flat-button class="secondary" class="ms-2" (click)="edit.emit()"
        [disabled]="authStore.permission() !== 'admin'">Edit</button>
    </div>
    <div matTooltip="Only available for admins" [matTooltipDisabled]="authStore.permission() === 'admin'">
      <button mat-flat-button color="warn" class="ms-2" (click)="delete.emit()"
        [disabled]="authStore.permission() !== 'admin'">Delete</button>
    </div>
  </mat-card-actions>
</mat-card>
