<mat-card appearance="outlined" class="mb-4 w-full">
  <mat-card-header>
    <mat-icon mat-card-avatar>task</mat-icon>
    <mat-card-title>Support tickets</mat-card-title>
  </mat-card-header>
  <mat-card-content [class.!p-0]="ticketsStore.tickets().data.length && !isAdding">
    @if (isAdding) {
    <app-add-ticket (create)="addTicket($event);" (edit)="editTicket();" (close)="toggleAdding()" [inProgress]="ticketsStore.inProgress()" [(ticket)]="ticketEdited"/>
    } @else {
    <mat-accordion>
      @for (ticket of ticketsStore.tickets().data; track ticket._id) {
      @if ($first) {
      <mat-divider></mat-divider>
      }
      <app-ticket [ticket]="ticket" [className]="$even ? 'bg-primary/[.3]' : 'bg-primary/[.1]'" (close)="closeTicket(ticket)" (edit)="toggleAdding(ticket)" (delete)="deleteTicket(ticket)"></app-ticket>
      @if ($last) {
      <mat-divider></mat-divider>
      }
      } @empty {
      <p class="px-3">No tickets available</p>
      }
    </mat-accordion>
    }
    @if (!isAdding) {
    <mat-card-actions>
      <button mat-flat-button (click)="toggleAdding()">Add Ticket</button>
    </mat-card-actions>
    }
  </mat-card-content>
</mat-card>
