<mat-card appearance="outlined" class="mb-4">
  <mat-card-header>
    <mat-icon mat-card-avatar>dns</mat-icon>
    <mat-card-title>Server status</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Status:
      <span
        [ngClass]="{
          'text-success dark:text-success-dark': status() === 'online',
          'text-error dark:text-error-dark': status() === 'offline',
          'opacity-50': status() === 'unknown'
        }">
        {{ status() }}
      </span>
    </p>
    <p>
    @switch (status()) {
      @case ('online') {
        All systems are operational.
      }
      @case ('offline') {
        Functionality should be restored soon.
      }
      @default {
        Fetching server status failed.
      }
    }
    </p>
  </mat-card-content>
</mat-card>
